---
const images = [
  "src/assets/images/redefining-women-95921/svg/noun-acquisition-2909342.svg",
  "src/assets/images/redefining-women-95921/svg/noun-actress-2909374.svg",
  "src/assets/images/redefining-women-95921/svg/noun-angel-investor-2909307.svg",
  "src/assets/images/redefining-women-95921/svg/noun-architect-2909375.svg",
  "src/assets/images/redefining-women-95921/svg/noun-artist-2909373.svg",
  "src/assets/images/redefining-women-95921/svg/noun-astronaut-2909362.svg",
  "src/assets/images/redefining-women-95921/svg/noun-boss-2909305.svg",
  "src/assets/images/redefining-women-95921/svg/noun-brainstorm-2909385.svg",
  "src/assets/images/redefining-women-95921/svg/noun-business-deal-2909313.svg",
  "src/assets/images/redefining-women-95921/svg/noun-ceo-2909360.svg",
  "src/assets/images/redefining-women-95921/svg/noun-chef-2909378.svg",
  "src/assets/images/redefining-women-95921/svg/noun-coach-2909351.svg",
  "src/assets/images/redefining-women-95921/svg/noun-collaboration-2909353.svg",
  "src/assets/images/redefining-women-95921/svg/noun-comedian-2909377.svg",
  "src/assets/images/redefining-women-95921/svg/noun-creative-director-2909369.svg",
  "src/assets/images/redefining-women-95921/svg/noun-curiosity-2909383.svg",
  "src/assets/images/redefining-women-95921/svg/noun-dentist-2909364.svg",
  "src/assets/images/redefining-women-95921/svg/noun-designer-2909343.svg",
  "src/assets/images/redefining-women-95921/svg/noun-dj-2909372.svg",
  "src/assets/images/redefining-women-95921/svg/noun-doctor-2909354.svg",
  "src/assets/images/redefining-women-95921/svg/noun-elevator-pitch-2909310.svg",
  "src/assets/images/redefining-women-95921/svg/noun-empower-2909363.svg",
  "src/assets/images/redefining-women-95921/svg/noun-entrepreneur-2909308.svg",
  "src/assets/images/redefining-women-95921/svg/noun-equal-pay-2909366.svg",
  "src/assets/images/redefining-women-95921/svg/noun-fashion-designer-2909368.svg",
  "src/assets/images/redefining-women-95921/svg/noun-film-director-2909358.svg",
  "src/assets/images/redefining-women-95921/svg/noun-food-critic-2909382.svg",
  "src/assets/images/redefining-women-95921/svg/noun-founder-2909306.svg",
  "src/assets/images/redefining-women-95921/svg/noun-freelancer-2909387.svg",
  "src/assets/images/redefining-women-95921/svg/noun-gamer-2909380.svg",
  "src/assets/images/redefining-women-95921/svg/noun-illustrator-2909376.svg",
  "src/assets/images/redefining-women-95921/svg/noun-innovate-2909386.svg",
  "src/assets/images/redefining-women-95921/svg/noun-inspire-2909384.svg",
  "src/assets/images/redefining-women-95921/svg/noun-invest-2909340.svg",
  "src/assets/images/redefining-women-95921/svg/noun-keynote-speaker-2909347.svg",
  "src/assets/images/redefining-women-95921/svg/noun-late-night-talk-show-host-2909381.svg",
  "src/assets/images/redefining-women-95921/svg/noun-leadership-2909348.svg",
  "src/assets/images/redefining-women-95921/svg/noun-meeting-2909311.svg",
  "src/assets/images/redefining-women-95921/svg/noun-mentor-2909349.svg",
  "src/assets/images/redefining-women-95921/svg/noun-musician-2909371.svg",
  "src/assets/images/redefining-women-95921/svg/noun-negotiation-2909341.svg",
  "src/assets/images/redefining-women-95921/svg/noun-networking-2909312.svg",
  "src/assets/images/redefining-women-95921/svg/noun-parental-leave-2909314.svg",
  "src/assets/images/redefining-women-95921/svg/noun-parental-leave-2909315.svg",
  "src/assets/images/redefining-women-95921/svg/noun-photographer-2909370.svg",
  "src/assets/images/redefining-women-95921/svg/noun-pilot-2909356.svg",
  "src/assets/images/redefining-women-95921/svg/noun-politician-2909359.svg",
  "src/assets/images/redefining-women-95921/svg/noun-portfolio-2909344.svg",
  "src/assets/images/redefining-women-95921/svg/noun-president-2909350.svg",
  "src/assets/images/redefining-women-95921/svg/noun-producer-2909365.svg",
  "src/assets/images/redefining-women-95921/svg/noun-professor-2909357.svg",
  "src/assets/images/redefining-women-95921/svg/noun-remote-team-2909345.svg",
  "src/assets/images/redefining-women-95921/svg/noun-reporter-2909367.svg",
  "src/assets/images/redefining-women-95921/svg/noun-respect-2909352.svg",
  "src/assets/images/redefining-women-95921/svg/noun-scientist-2909361.svg",
  "src/assets/images/redefining-women-95921/svg/noun-software-engineer-2909346.svg",
  "src/assets/images/redefining-women-95921/svg/noun-startup-2909309.svg",
  "src/assets/images/redefining-women-95921/svg/noun-success-2909316.svg",
  "src/assets/images/redefining-women-95921/svg/noun-surgery-2909355.svg",
  "src/assets/images/redefining-women-95921/svg/noun-venture-capitalist-2909304.svg",
  "src/assets/images/redefining-women-95921/svg/noun-writer-2909379.svg"
];

const randomImage = images[Math.floor(Math.random() * images.length)];
---
<div class="randomicon">
  <p>Imagery Inspiration:</p>
    <img src={randomImage} alt="Random SVG" />
</div>

<style>
  p{
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: blue;

  }
  .randomicon {
    padding: 1rem;
    max-width: 30rem;
     display: flex;
     flex-direction: column;
    justify-content: center;
    border: 2px solid blue;
    border-radius: 20px;

  }
  .randomicon:hover {
    background-color: blue;
    color: white;
    scale: 1.05;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear(0, -0.001 1.4%, -0.005 2.9%, -0.02 6.1%, -0.042 9.3%, -0.107 17.7%, -0.123 20.2%, -0.132 22.4%, -0.138 24.9%, -0.135 27.3%, -0.126 29.5%, -0.108 31.7%, -0.092 33.1%, -0.074 34.4%, -0.025 37%, 0.037 39.5%, 0.116 42%, 0.204 44.3%, 0.305 46.5%, 0.411 48.5%, 0.644 52.5%, 0.733 54.3%, 0.812 56.1%, 0.895 58.3%, 0.966 60.6%, 1.023 62.9%, 1.069 65.3%, 1.103 67.8%, 1.116 69.1%, 1.126 70.5%, 1.133 71.9%, 1.137 73.3%, 1.138 74.8%, 1.136 76.3%, 1.127 78.9%, 1.111 81.7%, 1.091 84.5%, 1.04 91%, 1.018 94.2%, 1.005 97.2%, 1.001 98.6%, 1);
    border-radius: 30px;
  }

  .randomicon:hover p {
    color: white;
  }

  
 img {
 height: auto;
background-color: white;
border-radius: 20px;
 }


