---
// RandomQuote.astro

const quotes = [
  { author: "Christian Schaible", text: "Don’t take it seriously." },
  { author: "Christian Schaible", text: "Fake it till you make it baby!" },
  { author: "Christian Schaible", text: "Don’t try to be someone else" },

  { author: "Noah Ortiz", text: "Put something down, no matter how bad." },
  { author: "Noah Ortiz", text: "Sit on a design to see how you feel." },
  { author: "Noah Ortiz", text: "Gather inspiration from different places" },
  { author: "Noah Ortiz", text: "Make something you find fun." },
  { author: "Noah Ortiz", text: "Don’t be scared to try something outside your comfort zone." },

  { author: "Bryce Walsh", text: "Make small things: smaller pieces and projects can inspire and change bigger ones without all the pressure." },
  { author: "Bryce Walsh", text: "A sketch is a sketch, don’t be so delicate when sketching; it’s a way to get your ideas out so feel free to mess it up." },

  { author: "Maddie Hickey", text: "FUCK AROUND N' FIND OUT!" },
  { author: "Maddie Hickey", text: "Just go for it, work as if you're under pressure." },
  { author: "Maddie Hickey", text: "Take risks." },
  { author: "Maddie Hickey", text: "YOLO" },

  { author: "Jazmin Corrujedo", text: "Design with empathy." },
  { author: "Jazmin Corrujedo", text: "Does it turn heads?" },

  { author: "Molly Vanderbogart", text: "Don’t be afraid to start over." },
  { author: "Molly Vanderbogart", text: "Have a plan!" },
  { author: "Molly Vanderbogart", text: "Try a new feature." },
  { author: "Molly Vanderbogart", text: "Put your soul into it." },

  { author: "Hayley Rocker", text: "Have a vision in your mind." },
  { author: "Hayley Rocker", text: "Try to recreate your creative vision as best as you can." },

  { author: "Daneisha Espinosa", text: "Write out the jumbled mess of ideas." },
  { author: "Daneisha Espinosa", text: "Will it please other people?" },

  { author: "Ginger Defino", text: "Create as much as you can before judging it as good or bad. You need to start somewhere." },
  { author: "Ginger Defino", text: "Create something different." },

  { author: "Christian Vitale", text: "Don’t focus on just one idea right at the start; explore many options and ideations." },
  { author: "Christian Vitale", text: "Don’t force creativity; when it’s not working, take a step back and see the bigger picture." },

  { author: "Madison Tamburrini", text: "Don’t think, just do." },
  { author: "Madison Tamburrini", text: "It has to be perfect." },

  { author: "Elysia Shannon", text: "Always ask questions." },
  { author: "Elysia Shannon", text: "Look for inspiration before you start a project." },
  { author: "Elysia Shannon", text: "Think outside the box." },
  { author: "Elysia Shannon", text: "It’s okay if you don’t like your first idea." },
  { author: "Elysia Shannon", text: "Research ideas throughout." },

  { author: "Sarah Friedlander", text: "Just get ideas out of your head and onto paper." },
  { author: "Sarah Friedlander", text: "Avoid perfection on the first try." },
  { author: "Sarah Friedlander", text: "Start on paper first, then move to the computer." },

  { author: "Nicky Thomas", text: "Making > thinking about making" },
  { author: "Nicky Thomas", text: "Don’t be a perfectionist about each and every detail." },
  { author: "Nicky Thomas", text: "Be open to new styles." },

  { author: "Faith Wilson", text: "Make sure to take a step back / a breather from your work to look at it with fresh eyes." },
  { author: "Faith Wilson", text: "I can't move onto another idea until this one is 'perfect'." },

  { author: "Nikki Hirschkind", text: "Find inspiration before approaching any project." },
  { author: "Nikki Hirschkind", text: "I likely think the design is a lot worse than it is." },
];

const randomQuote = quotes[Math.floor(Math.random() * quotes.length)];

---

<div class="randomquote">
  <p class="r">Main Text:</p>
  <p class="quote">"{randomQuote.text}"</p>
  <p class="author">— {randomQuote.author}</p>
</div>

<style>
.randomquote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border: 2px solid var(--color-accent);
  width: 30rem;
  color: blue;
  border-radius: 20px;
  height: calc(662.27px - 134px - 1rem);


}
.randomquote:hover {
    background-color: blue;
    color: white;
    scale: 1.05;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear(0, -0.001 1.4%, -0.005 2.9%, -0.02 6.1%, -0.042 9.3%, -0.107 17.7%, -0.123 20.2%, -0.132 22.4%, -0.138 24.9%, -0.135 27.3%, -0.126 29.5%, -0.108 31.7%, -0.092 33.1%, -0.074 34.4%, -0.025 37%, 0.037 39.5%, 0.116 42%, 0.204 44.3%, 0.305 46.5%, 0.411 48.5%, 0.644 52.5%, 0.733 54.3%, 0.812 56.1%, 0.895 58.3%, 0.966 60.6%, 1.023 62.9%, 1.069 65.3%, 1.103 67.8%, 1.116 69.1%, 1.126 70.5%, 1.133 71.9%, 1.137 73.3%, 1.138 74.8%, 1.136 76.3%, 1.127 78.9%, 1.111 81.7%, 1.091 84.5%, 1.04 91%, 1.018 94.2%, 1.005 97.2%, 1.001 98.6%, 1);
    border-radius: 30px;
  }
.quote {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: left;
  line-height: 1.2;
}
.author {
  text-align: left;
</style>
